.word{
    display:inline-block;
    padding:0px 3px;
    margin-bottom:0;
    font-size:12px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;
    -ms-user-select:none;user-select:none;background-image:none;
    border:1px solid transparent;
    border-radius:4px}
.word:hover{
    font-weight:600;
    color: #0d8aee;
    box-shadow: 0 2px 5px 0 rgba(12, 84, 255, 0.16),0 2px 10px 0 rgba(60, 103, 255, 0.59);
}

.toggle-switch .ts-label {
    min-width: 130px;
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
.progressBigBlue {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    height: 20px;
}
.progressBigBlue:active, :hover {
    outline: 0 !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.b-2{
    border-bottom:2px solid white;
    border-right:2px solid white;
}
.b-4{
    border-bottom:2px solid white;
    border-right:2px solid white;
}
